
.form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cbd6d7;

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
body{
    margin: 0;
}
