
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.App{
    margin: 0;
    display: flex;
    justify-content: center;
    color: #518153;
    background-color: #313335;
    font-family: 'Roboto Mono', monospace;

}
input{
    background-color: #518153;
}

.wrapper{
    background-color: #2b2b2b;
    padding: 20px;
}

.car p{
    margin: 0;
}
.car{
    border-bottom: solid 1px #9aaf66;
    padding: 10px 0 10px;;
}
form{
    padding: 20px 0 40px;
    border-bottom: solid 1px #9aaf66;
}
button{
    background-color: #518153;
}

