.App{
    display: flex;
    /*flex-direction: column;*/
}
.posts{
    display: flex;
    flex-direction: column;
}
.flight{
    margin: 10px;
    border: black 1px solid;
    padding: 10px;
}
.flight img {
    width: 200px;
}

.user{
    margin: 10px;
    border: black 1px solid;
    padding: 10px;
}
.users{
    display: flex;
    flex-direction: column;
}